.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: rem(18);
    height: rem(64);
    width: 100%;
    font-size: rem(18);
    font-weight: 600;
    text-transform: capitalize;
    border-radius: rem(10);
    color: var(--color-dark);
    background: rgb(222,249,250);
    background: linear-gradient(209deg, rgba(222,249,250,1) 0%, rgba(157,237,240,1) 8%, rgba(92,225,230,1) 37%, rgba(51,187,207,1) 76%);

    @include hover {
        --bgColor: var(--color-dark);
        --borderGradient: linear-gradient(209deg, rgba(222,249,250,1) 0%, rgba(157,237,240,1) 8%, rgba(92,225,230,1) 37%, rgba(51,187,207,1) 76%);

        background: linear-gradient(var(--bgColor), var(--bgColor)) padding-box, var(--borderGradient) border-box;
        border: 1px solid transparent;
        

        color: rgba(92,225,230,1);
    }

    &--grey {
        @include hover {
            --bgColor: rgba(17,16,29,1);
            --borderGradient: linear-gradient(209deg, rgba(222,249,250,1) 0%, rgba(157,237,240,1) 8%, rgba(92,225,230,1) 37%, rgba(51,187,207,1) 76%);
    
            background: linear-gradient(var(--bgColor), var(--bgColor)) padding-box, var(--borderGradient) border-box;
            border: 1px solid transparent;
            
    
            color: rgba(92,225,230,1);
        }
    }
}