.card {
    display: grid;
    grid-template-columns: 45% 55%;
    column-gap: rem(20);
    
    &--inverse {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    &__images {
        position: relative;
        align-self: center;
        justify-self: center;
        
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: rem(47);

        &--inverse {
            padding-block: rem(67);
        }

        &-3 {
            padding-block: rem(55);
        }
    }

    &__title {
        @include fluid-text(64, 48);
        text-align: center;
        line-height: 0.95;
        letter-spacing: rem(2);
        max-width: rem(740);
    }

    &__subtitle {
        @include fluid-text(18, 14);
        max-width: rem(470);
        margin-block: rem(35) rem(60);

        &--inverse {
            text-align: right;
        }
    }

    &__button {
        max-width: rem(470);
    }
}