.text-gradient {
    color: #000;

    background: rgb(222,249,250);
    background: linear-gradient(209deg, rgba(222,249,250,1) 0%, rgba(157,237,240,1) 8%, rgba(92,225,230,1) 37%, rgba(51,187,207,1) 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-gradient {
    background: rgb(60,60,60);
    background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(17,16,29,1) 100%);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: 0;
    padding-inline: var(--container-padding-x);
    margin-block: var(--section-padding-y);
}

.section {
    position: relative;
}